<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验证码</title>
</head>
<body>
     你的验证码是<br />
    <h1><span th:text="${code}" /></h1>
     验证码过期时间：3分钟<br/>
     非常感谢注册ACM赛事提醒与管理平台,你的支持是对我们最大的鼓励!
</div>
</body>
</html>